<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/ico">
    <title>Согласие на обработку персональных данных | Дом.РФ </title>

    <meta name="theme-color" content="#712cf9">
    <meta property="og:title" content="Дом.РФ ">
    <meta property="og:description" content="Согласие на обработку персональных данных">
    <meta property="og:site_name" content="Дом.РФ">
    <meta property="og:image" content="{{url_for('static', filename='Logo.jpg')}}">
    <link href="https://getbootstrap.com/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">
    <h1>Согласие на обработку персональных данных</h1>

    <p class="r-modal-conditions__p _no-mb">
        Я в соответствии со статьей 9 Федерального закона от 27.07.2006 № 152-ФЗ «О персональных данных» даю свое согласие АО «ДОМ.РФ» (далее – Общество), расположенному по адресу: 125009, г. Москва, ул. Воздвиженка, д. 10 (ОГРН 1027700262270), на обработку (включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (предоставление, доступ), обезличивание, блокирование, удаление, уничтожение) моих персональных данных в следующем составе:
    </p>

    <ul class="r-modal-conditions-list">
        <li>фамилия, имя, отчество (в&nbsp;том числе предыдущие);</li>
        <li>номер телефона (стационарный домашний, мобильный);</li>
        <li>адрес электронной почты;</li>
        <li>сведения об&nbsp;аккаунтах в&nbsp;социальных сетях;</li>
        <li>
            <span>другие данные, указанные в&nbsp;моем обращении, как с&nbsp;использованием средств автоматизации, так и&nbsp;без&nbsp;использования таких средств в&nbsp;целях обработки моего</span>
            <span>обращения на&nbsp;сайте АО&nbsp;«ДОМ.РФ»</span>
            <nobr><a target="_blank" class="r-modal-conditions__link" href="https://дом.рф" tabindex="0">https://дом.рф</a></nobr>
            <span> и&nbsp;направления/предоставления мне ответа на&nbsp;него с&nbsp;момента оформления данного обращения и&nbsp;в&nbsp;течение 5&nbsp;лет после него.</span>
        </li>
    </ul>

    <p class="r-modal-conditions__p">
        <span>Указанные выше персональные данные являются необходимыми для&nbsp;заявленной цели обработки.</span>
        <span> Настоящим подтверждаю, что&nbsp;данные, указанные в&nbsp;обращении, не&nbsp;содержат специальных категорий персональных данных, а&nbsp;именно сведений,</span>
        <span> касающихся моей расовой, национальной принадлежности, политических взглядов, религиозных или&nbsp;философских убеждений, состояния здоровья, интимной жизни.</span>
    </p>

    <p class="r-modal-conditions__p _no-br">Настоящим согласием я&nbsp;также разрешаю Обществу поручать обработку моих персональных данных следующим организациям:</p>

    <ul class="r-modal-conditions-list">
        <li class="r-modal-conditions-list__item">ООО&nbsp;«ДОМ.РФ Управление активами», расположенному по&nbsp;адресу: 125009, г.&nbsp;Москва, ул.&nbsp;Воздвиженка, д.&nbsp;10, пом.&nbsp;XI, ком.&nbsp;177 (ОГРН 1167746708733);</li>
        <li class="r-modal-conditions-list__item">Фонду ДОМ.РФ, расположенному по&nbsp;адресу: 125009, г.&nbsp;Москва, ул.&nbsp;Воздвиженка, д.&nbsp;10, пом./ком.&nbsp;XI/45 (ОГРН 1167700063992);</li>
        <li class="r-modal-conditions-list__item">ООО&nbsp;«ДОМ.РФ Центр сопровождения», расположенному по&nbsp;адресу: 394036, Воронежская&nbsp;обл., г.&nbsp;Воронеж, просп. Революции, д.&nbsp;38, пом.&nbsp;10 (ОГРН 1193668037870);</li>
        <li class="r-modal-conditions-list__item">АО&nbsp;«Банк&nbsp;ДОМ.РФ», расположенному по&nbsp;адресу: г.&nbsp;Москва, ул.&nbsp;Воздвиженка, д.&nbsp;10 (ОГРН 1037739527077),</li>
    </ul>

    <p class="r-modal-conditions__p">
        <span>в&nbsp;соответствии с&nbsp;договорами и&nbsp;соглашениями, заключенными АО&nbsp;«ДОМ.РФ» с&nbsp;указанными организациями, в&nbsp;объеме,</span>
        <span> способами, в&nbsp;целях и&nbsp;в&nbsp;сроки, которые определены настоящим согласием (указаны выше).</span>
    </p>

    <p class="r-modal-conditions__p">Настоящее согласие на&nbsp;обработку моих персональных данных может быть отозвано мной путем подачи письменного уведомления в&nbsp;Общество.</p>

    <p class="r-modal-conditions__p _no-br">Права и&nbsp;обязанности в&nbsp;области защиты персональных данных мне&nbsp;разъяснены и&nbsp;понятны.</p>
</div>
</body>
</html>