{% extends 'template.html' %}

{% block content %}
 <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h2">Список тикетов.</h2>
      </div>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Никнейм</th>
              <th scope="col">Обращение</th>
              <th scope="col">Статус</th>
              <th scope="col">Ответственный</th>
              <th scope="col">Дата</th>
            </tr>
          </thead>
          <style>
            tr {
              cursor: pointer;
            }
          </style>
          <tbody id="tickets">
          {% for i, name, message, status, support, date in tickets %}

            <tr>

              <td>{{i}}</td>
              <td>{{name}}</td>
              <td>{{message}}</td>
              {% if status == 'active' %}
                <td>Активный</td>
              {% elif status == 'rejected' %}
                <td>Отклонено</td>
              {% elif status == 'closed' %}
                <td>Завершён</td>
              {% else %}
                <td>Новое</td>
              {% endif %}
              <td>{{support}}</td>
              <td>{{date}}</td>
              <td>
                <a  class="btn btn-success" href="{{url_for('ticket_page', id=i)}}">
                  <svg class="feather feather-file-text" width="16" height="16" fill="currentColor" >
                    <use href="{{url_for('static', filename='icons/bootstrap-icons.svg')}}#send"/>
                  </svg>
                </a>
               </td>
            </tr>

          {% endfor %}

          </tbody>
        </table>
      </div>
 </main>
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='js/tickets.js')}}"></script>

{% endblock %}